{% extends 'base.html.twig' %}

{% block title %}Assosiation index{% endblock %}

{% block body %}
    <h1>Assosiation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Create_date</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Archived</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assosiation in assosiations %}
            <tr>
                <td>{{ assosiation.id }}</td>
                <td>{{ assosiation.name }}</td>
                <td>{{ assosiation.createDate ? assosiation.createDate|date('Y-m-d') : '' }}</td>
                <td>{{ assosiation.description }}</td>
                <td>{{ assosiation.logo }}</td>
                <td>{{ assosiation.archived ? 'Yes' : 'No' }}</td>
                <td>{{ assosiation.type }}</td>
                <td>
                    <a href="{{ path('app_assosiation_show', {'id': assosiation.id}) }}">show</a>
                    <a href="{{ path('app_assosiation_edit', {'id': assosiation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assosiation_new') }}">Create new</a>
{% endblock %}
