{% extends 'base.html.twig' %}

{% block title %}Membership{% endblock %}

{% block body %}
    <h1>Membership</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membership.id }}</td>
            </tr>
            <tr>
                <th>Assosiation_id</th>
                <td>{{ membership.assosiationId }}</td>
            </tr>
            <tr>
                <th>Student_id</th>
                <td>{{ membership.studentId }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ membership.startDate ? membership.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ membership.endDate ? membership.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Role_id</th>
                <td>{{ membership.roleId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_membership_index') }}">back to list</a>

    <a href="{{ path('app_admin_membership_edit', {'id': membership.id}) }}">edit</a>

    {{ include('admin/membership/_delete_form.html.twig') }}
{% endblock %}
